---
import Card from "../components/Card.astro";
---

<div class="grid md:grid-cols-3 max-w-5xl mx-auto gap-4 mt-6">
  <Card
    img="img/article-1.webp"
    p="Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam reiciendis a obcaecati quia officia culpa fuga quasi earum hic necessitatibus eius, iusto, officiis praesentium omnis adipisci natus dolorem? Facilis, saepe."
  />
  <Card
    img="img/article-2.webp"
    p="Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam reiciendis a obcaecati quia officia culpa ."
  />
  <Card
    img="img/article-3.webp"
    p="Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam reiciendis a obcaecati quia officia culpa fuga quasi earum hic necessitatibus eius, iusto, officiis praesentium omnis adipisci natus dolorem? Facilis, saepe."
  />
  <Card
    img="img/article-4.webp"
    p="Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam reiciendis a obcaecati quia officia culpa fuga "
  />
  <Card
    img="img/article-5.webp"
    p="Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam reiciendis a obcaecati quia officia culpa fuga quasi earum hic necessitatibus eius, iusto, officiis praesentium omnis adipisci natus dolorem? Facilis, saepe."
  />
  <Card
    img="img/article-6.webp"
    p="Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam reiciendis a obcaecati quia officia culpa fuga quasi"
  />
</div>
