---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Tailwind CSS.">
  <main class="p-4">
    <h1 class="text-blue-900 font-bold text-center">Tutorial Tailwind</h1>
    <Card img="img/article-1.webp" />
    <Card img="img/article-2.webp" />
    <Card img="img/article-3.webp" />
    <Card img="img/article-4.webp" />
    <Card img="img/article-5.webp" />
    <Card img="img/article-6.webp" />
  </main>
</Layout>
