---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Tailwind CSS.">
  <main class="p-4">
    <h1 class="text-blue-900 font-bold text-center">Tutorial Tailwind</h1>
    <article>
      <div>
        <img src="img/article-1.webp" alt="curso tailwind" />
      </div>
      <div>
        <h3>Astro</h3>
        <span
          >Desarrollo de una SPA con Astro siguiendo las mejores practicas.</span
        >
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, est
          vero aliquid corporis dicta blanditiis inventore temporibus, facilis
          labore corrupti dolores et necessitatibus cumque aut pariatur in enim
          commodi quam!
        </p>
      </div>
      <div>
        <img
          src="https://ui-avatars.com/api?name=Miguel Duran"
          alt="Miguel Duran"
        />
        <div>
          <span>Miguel Duran</span>
          <span>Mier 14, 2024</span>
        </div>
      </div>
    </article>
  </main>
</Layout>
