---

---

<header class="bg-white shadow px-6">
    <div class="flex h-16 items-center justify-between">
        <button>=</button>
        <a href="">logo</a>
        <div>
            <button>theme</button>
            <button>user</button>
        </div>
    </div>
</header>
